body,
html {
  padding: 0px;
  margin: 0px;
}

#main {
  display: flex;
  justify-content: center;
  padding-top: 30vh;
  margin: 0px;
  height: 100vh;
}

#entry-options-page > div {
    display: flex;
    align-content: center;
}

#select-device-input {
  width: 35vw;
  height: 25px;
  border: solid 1px lightgrey;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  padding-left: 6px;
}

#select-device-proceed-button {
    padding: 0px;
    margin-left: -1px;
    border: solid 1px lightgrey;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

#select-device-proceed-button img {
    margin-top: 2px;
    height: 20px;
}
